/* CREATE PAGE SPECIFIC STYLES */

.trackCard {
  width: 250px;
  height: 250px;
}

.racerCard {
    width: 300px;
    height: 300px;
}


/* -------------------  MOBILE  --------------------- */

header {
  background-image: url('https://via.placeholder.com/1150');
}


/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}